#account{
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 300%;
}

#presentAccount{
    position: absolute;
    left: 40%;
    font-size: 300%;
}

#amount{
    font-size: 40px;
    width: 20%;
}

input#submit{
    position: absolute;
    left: 45%;
    top: 40%;
    font-size: 300%;
}