.NewImage{
    position: relative;
    left: 35%;
    width: 30%;
    margin-bottom: 15px;
}

.NewText{
    position: relative;
    left: 15%;
    width: 60%;
    font-size: 130%;
}

.link{
    position: relative;
    left: 15%;
    color: deepskyblue;
    text-decoration: underline;
}

.link:hover{
    color: red;
}


